
@{
    ViewData["Title"] = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model  User

<div class="text-center">
    <h1>Summary Page</h1>
</div>



<h1>Hello @Model.UserName</h1>


<!--we use Razor syntax to access the global ViewBag objects-->
<!--<h1>@ViewBag.UserName</h1>-->