
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Items

<link href="~/css/Shop.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/site.css" />


<div class="thumbnail">
    <div class="caption-full">
        <h4>Item name: @Model.Name</h4>
        <h4>Item description: @Model.Description</h4>
        <h4>Item price: $@Math.Round(Convert.ToDecimal(Model.Price), 2)</h4>
    </div>
    <h5><a href="/Home/List">Back to Cart</a></h5>
</div>
