@{
    ViewData["Title"] = "Home Page";
}

    <link rel="stylesheet" href="~/css/site.css" />

    <div class="text-center">
        <h1 class="display-4">Welcome to GC Coffee</h1>
        <h2><a asp-controller="Home" asp-action="RegistrationPage">Register</a></h2>
        <img src="http://static1.squarespace.com/static/5081d50c84ae11269e707c6d/514fb079e4b04c6ad1874c85/514fb091e4b023ca2900e6a4/1475829986939/black-dog-coffee-kansas-city-social.jpg?format=1500w" alt="Image result for coffee shop photo" />
    </div>

