@model Users
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/site.css" rel="stylesheet" />


<form method="POST" asp-controller="Home" asp-action="MakeNewUser" id="signIn" onsubmit="Validate">
    <fieldset>
        <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control" id="username" placeholder="User Name" name="UserName" pattern="[A-Za-z]{1,15}" required />
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="alert-danger">First Name</label>
            <input asp-for="FirstName" type="text" class="form-control" id="FirstName" placeholder="First Name" name="FirstName" pattern="[A-Za-z]{1,}" required />
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" placeholder="Last Name" id="LastName" name="LastName" pattern="[A-Za-z]{1,}" required />
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Email" id="email" name="Email" pattern="[a-z0-9._%+-]{1,40}[@@]{1}[a-z]{1,10}[.]{1}[a-z]{3}" required />
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <input type="tel" class="form-control" placeholder="Phone Number" name="Phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required />
            <small>###-###-####</small>
        </div>
        <div class="form-group">
            <label>What are your funds</label>
            <input type="number" class="form-control" placeholder="Funds" name="Funds" />
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" id="ConfirmPassword" name="Password" pattern="(?=.*\d)(?=.*[A-Z]).*" required />
            <small>Upper and lower cases, numbers, and special characters: #,$, etc.</small>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="form-control btn btn-primary" name="Register" />
            </div>
        </div>
    </fieldset>
</form>

<!--btn btn-default-->
<script src="~/js/site.js"></script>




<div class="shopping-cart">
    <!-- Title -->
    <div class="title">
        Shopping Bag
    </div>

    <!-- Product #1 -->
    <div class="item">
        <div class="buttons">
            <span class="delete-btn"></span>
            <span class="like-btn"></span>
        </div>

        <div class="image">
            <img src="item-1.png" alt="" />
        </div>

        <div class="description">
            <span>Common Projects</span>
            <span>Bball High</span>
            <span>White</span>
        </div>

        <div class="quantity">
            <button class="plus-btn" type="button" name="button">
                <img src="plus.svg" alt="" />
            </button>
            <input type="text" name="name" value="1">
            <button class="minus-btn" type="button" name="button">
                <img src="minus.svg" alt="" />
            </button>
        </div>

        <div class="total-price">$549</div>
    </div>

    <!-- Product #2 -->
    <div class="item">
        <div class="buttons">
            <span class="delete-btn"></span>
            <span class="like-btn"></span>
        </div>

        <div class="image">
            <img src="item-2.png" alt="" />
        </div>

        <div class="description">
            <span>Maison Margiela</span>
            <span>Future Sneakers</span>
            <span>White</span>
        </div>

        <div class="quantity">
            <button class="plus-btn" type="button" name="button">
                <img src="plus.svg" alt="" />
            </button>
            <input type="text" name="name" value="1">
            <button class="minus-btn" type="button" name="button">
                <img src="minus.svg" alt="" />
            </button>
        </div>

        <div class="total-price">$870</div>
    </div>

    <!-- Product #3 -->
    <div class="item">
        <div class="buttons">
            <span class="delete-btn"></span>
            <span class="like-btn"></span>
        </div>

        <div class="image">
            <img src="item-3.png" alt="" />
        </div>

        <div class="description">
            <span>Our Legacy</span>
            <span>Brushed Scarf</span>
            <span>Brown</span>
        </div>

        <div class="quantity">
            <button class="plus-btn" type="button" name="button">
                <img src="plus.svg" alt="" />
            </button>
            <input type="text" name="name" value="1">
            <button class="minus-btn" type="button" name="button">
                <img src="minus.svg" alt="" />
            </button>
        </div>

        <div class="total-price">$349</div>
    </div>
</div>