
@{
    ViewData["Title"] = "RegistrationPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/css/site.css" rel="stylesheet" />


<form method ="POST" asp-controller="Home" asp-action="AddUser" id="signIn">
    <fieldset>
        <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control" id="username" placeholder="User Name" name="Username" pattern="[A-Za-z]{1,15}" required />
        </div>
        <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" id="FirstName" placeholder="First Name" name="FirstName" pattern="[A-Za-z]{1,}" required />
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" placeholder="Last Name" id="LastName" name="LastName" pattern="[A-Za-z]{1,}" required />
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Email" id="email" name="Email" pattern="[a-z0-9._%+-]{1,40}[@@]{1}[a-z]{1,10}[.]{1}[a-z]{3}" required />
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <label>###-###-####</label>
            <input type="tel" class="form-control" placeholder="Phone Number" name="Phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" name="Password" pattern="(?=.*\d)(?=.*[A-Z]).*" required />
            <small>Upper and lower cases, numbers, and special characters: #,$, etc.</small>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="form-control btn btn-primary" name="Register" />
            </div>
        </div>
    </fieldset>
</form>

<!--btn btn-default-->

<script src="~/js/site.js"></script>
