
@{
    ViewData["Title"] = "Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Items

<h1>Summary</h1>


<h1 class="display-4">The Item costs $@Model.Price and remaining funds are $@ViewBag.Funds!</h1>