body {
}

p{
    text-align:center;
}
td, th {
    padding-right:1em;
}

th {
    text-decoration:underline;
}

.flex-container {
    display: flex;
    
    align-items: center;
    justify-content: center;
}